<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ClientId" value="c3a043ac-6560-47ea-bd62-f459d18dc153" />
    <add key="ClientSecret" value="YZ634YJXgOFITQQG/z3MDMNqSHTf/HQkdwRf1F0/z/0=" />
    

  </appSettings>
   <connectionStrings>
     <add name="SqlConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\799688\Documents\claimsdb.mdf;Integrated Security=True;Connect Timeout=30;" providerName="System.Data.SqlClient" />
   </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>